<div class="header_main">
    <div class="logo_block">
        <a class="logo"href="index.html"><img src="{{url_logo}}" alt="Movie RolePlay"></a>
    </div>
    
    <div class="toggle">
        <a class="menu-triger" href="index.html#"></a>
    </div>

    <div class="navigation">
        <!-- <a class="menu-close" href="index.html#"></a> -->
        <ul class="nav">
            <li class="nav-links active-nav-link"><a href="index.html">Главная</a></li>
            <li class="nav-links"><a href="news.html">Новости</a></li>
            <li class="nav-links"><a href="connect.html">Как начать играть</a></li>
            <li class="store-link"><a href="store.html">Магазин <img src="img/basket-icon.svg" alt=""></a></li>
            <li class="nav-links"><a href="dashboard.html">Мониторинг</a></li>
            <li class="nav-links"><a href="reseller.html">Купить GTA V</a></li>
            <li class="nav-links"><a href="https://forum.gtavrp.ru">Форум</a></li>
        </ul>
    </div>

    <div class="btn-login">
        <a class="auth submit-info first-popup-link flex-box" rel="leanModal" href="index.html#">Войдите в аккаунт</a>
        
    </div>

</div>