<div class="header_main">
    <div class="logo_block">
        <a class="logo" href="index.html"><img src="{{url_logo}}" alt="Movie RolePlay"></a>
    </div>

    <div class="toggle">
        <a class="menu-triger" href="index.html#"></a>
    </div>

    <div class="navigation">
        <!-- <a class="menu-close" href="index.html#"></a> -->
        <ul class="nav">
            <li class="nav-links active-nav-link"><a href="index.html">Главная</a></li>
            <li class="nav-links"><a href="/news" routerLinkActive="active" ariaCurrentWhenActive="page">Новости</a>
            </li>
            <li class="nav-links"><a href="/how-to-play">Как начать играть</a></li>
            <li class="store-link"><a href="/store" routerLinkActive="active" ariaCurrentWhenActive="page">Магазин <img
                        src="img/basket-icon.svg" alt=""></a></li>
            <li class="nav-links"><a href="/dashboard" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Мониторинг</a></li>
            <li class="nav-links"><a [href]="forum_url">Форум</a></li>
        </ul>
    </div>

    <div class="btn-login">
        <a class="auth submit-info first-popup-link flex-box" rel="leanModal" href="/">Войдите в аккаунт</a>

    </div>

    <div class="burger-menu" (click)="toggleNavigation()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="navigation-menu" [ngClass]="{'active': isNavigationActive}">
            <ul class="nav">
                <li class="nav-links active-nav-link"><a href="index.html">Главная</a></li>
                <li class="nav-links"><a href="/news" routerLinkActive="active" ariaCurrentWhenActive="page">Новости</a></li>
                <li class="nav-links"><a href="/how-to-play">Как начать играть</a></li>
                <li class="store-link"><a href="/store" routerLinkActive="active" ariaCurrentWhenActive="page">Магазин <img src="img/basket-icon.svg" alt=""></a></li>
                <li class="nav-links"><a href="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">Мониторинг</a></li>
                <li class="nav-links"><a [href]="forum_url">Форум</a></li>
            </ul>
        </div>
    </div>

</div>